body {
  font-family: sans-serif;
}

a, a:hover, h1 {
  color: #DB5858;
}

h1 {
  font-family: 'PT Mono', monospace;
}

.title {
  color: #9B1717;
  font-weight: bold;
}

/* INDEX.html */

#regina {
  width: 100%;
}

#error {
  font-style: italic;
  color: #C13131;
}

/* RESULTS.html */

#html-box {
  font-family: monospace;
  background-color: #f9f9f9;
  overflow: scroll;
  height: 700px;
}

.spaced {
  margin-bottom: 25px;
}

.highlight {
  color: white;
  background-color: #9B1717;
}
