body {
  font-family: sans-serif;
}

.title {
  color: red;
}

/* INDEX.html */

#regina {
  width: 100%;
}

/* RESULTS.html */

#html-box {
  font-family: monospace;
  overflow: scroll;
  height: 700px;
}

.highlight {
  color: yellow;
}
