{% extends 'base.html'%}
{% block title %}Inspektor{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-2 col-lg-offset-5">
    <h1>In<span class="title">spektor</span></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <img src="/static/spektor.jpg" alt="regina spektor" id="regina" title="Regina Spektor">
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">

    <form action="/results" method="POST">
      <label for="url-input">Enter a URL:</label>
      <div class="input-group col-md-12">

        <input class="form-control input-lg" id="url-input" type="text" name="input_url" value="http://">

        <span class="input-group-btn">
          <button class="btn btn-info btn-lg" type="submit">
              <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>

      </div>

    </form>

  </div>
</div>
{% endblock %}
