{% extends 'base.html'%}
{% block title %}Inspektor{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-2 col-lg-offset-5">
    <h1>In<span id="title">spektor</span></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <img src="/static/spektor.jpg" alt="regina spektor" id="regina" title="Regina Spektor">
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form action="/results" method="POST">
      <input class="form-control" type="text" name="input_url" value="http://">
      <input class="btn" type="submit">
    </form>
  </div>
</div>
{% endblock %}
