{% extends 'base.html'%}
{% block title %}Inspektor | Results{% endblock %}

{% block content %}
<pre>
      <span class="p">&#x3C;p&#x3E;</span>
        <span class="h1">&#x3C;h1&#x3E;Hi there.&#x3C;/h1&#x3E;</span>
        <span class="p">&#x3C;p&#x3E;This is a test.&#x3C;/p&#x3E;</span>
        <span class="p">&#x3C;p&#x3E;To see if my jQuery is working.&#x3C;/p&#x3E;</span>

        <span class="h2">&#x3C;h2&#x3E;Is it working?&#x3C;/h2&#x3E;</span>

        <span class="ul">&#x3C;ul&#x3E;</span>
          <span class="li">&#x3C;li&#x3E;One&#x3C;/li&#x3E;</span>
          <span class="li">&#x3C;li&#x3E;Two&#x3C;/li&#x3E;</span>
        <span class="ul">&#x3C;/ul&#x3E;</span>
      <span class="p">&#x3C;/p&#x3E;</span>
</pre>
{% endblock %}
